@import "tailwindcss";




.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


.sidebar-scroll:hover {
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}


.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}


.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}
